/******************************************
/* LAYOUT
/*******************************************/
main {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.featureImage,
.featureText {
    width: 90%;
    height: auto;
    margin: auto;
}

/* Museum Columns Section */
.threeColumns {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.column h3 {
    text-align: center;
}

#signUpButton {
    margin-bottom: 5%;
}

/* About Us */
#contactUs>form {
    display: flex;
    flex-direction: column;
}

.formRow {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

#contactUs button {
    margin: 5% auto;

}

/******************************************
/* MEDIA STYLES
/******************************************/
@media screen and (min-width: 800px) {
    main {
        width: 90%;
    }

    .reverseRow {
        flex-direction: row-reverse;
    }

    .standardRow {
        flex-direction: row;
    }

    .feature {
        justify-content: space-between;
    }

    .featureImage,
    .featureText {
        width: 40%;
    }

    .threeColumns {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .column {
        width: 30%;
    }

    .column h3 {
        text-align: left;
    }
}

@media screen and (min-width: 1000px) {
    main {
        width: 85%;
    }

    .feature {
        padding-bottom: 8%;
    }

    .featureImage {
        width: 40%;
        max-height: 450px;
    }

    .featureText {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    main {
        width: 80%;
        padding-bottom: 3%;
    }

    .feature {
        padding-bottom: 5%;
    }
}

@media screen and (min-width: 1400px) {
    .feature {
        padding-bottom: 3%;
    }
}

@media screen and (min-width: 1600px) {
    .feature {
        padding: 0%;
    }
}